# System
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database

*.sqlite3

# IDE
.vscode/
.idea/
